<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head >
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>

<div th:fragment="posts(posts)">

    <div class="posts_wrapper">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
            <h5 th:text="'Published on ' + ${post.createdTime}">Creation date</h5>
            <img class="img" th:src="${post.img}" />
            <p th:text="${post.contentPost}">body text</p>
            <br>
        </div>
    </div>

</div>

</body>
</html>