<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head >
  <link rel="stylesheet" th:href="@{css/main.css}">
</head>

<body>

<div th:replace="/components/header :: header(currentUser=${currentUser})"></div>

<form action="#"
      th:action="@{'/filter'}"
      method="post">
  <h2>Filter blog post</h2>
  <div>
    <label>
      <input type="text" name="queryString"  placeholder="Query String"/>
    </label>
  </div>
  <div>
    <label>
      <select name="sort" id="sort">
        <option value="ASC">Mới nhất</option>
        <option value="DESC">Cũ nhất</option>
      </select>
    </label>
  </div>
  <div>
    <button class="green-btn" type="submit">Send</button>
  </div>
</form>

<div class="container">
  <div th:replace="/components/posts :: posts(posts=${postsFilter})"></div>
</div>

<div class="container">
  <div th:replace="/components/posts :: posts(posts=${posts})"></div>
</div>

<footer th:replace="/components/footer :: footer"></footer>

</body>
</html>