<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head >
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>

<div th:replace="/components/header :: header(currentUser=${currentUser})"></div>

<div class="container">
    <form action="#"
          th:action="@{'/createNewPost'}"
          th:object="${postBlog}"
          method="post">
        <h2>Write new blog post</h2>
    <div>
        <label>
            <input th:field="*{title}" type="text" name="title"  placeholder="Title" required/>
        </label>
    </div>
    <div>
        <label>
            <textarea th:field="*{contentPost}" name="contentPost" placeholder="Write valuable for content" required></textarea>
        </label>
    </div>
    <div>
        <label>
            <input th:field="*{img}" name ="img" placeholder="Write valuable for image" required></input>
        </label>
    </div>
    <div class="float-left">
        <button class="green-btn" type="submit">Send</button>
    </div>
        <div>
            <label>
                <input th:field="*{id}" type="text" name="id" style="visibility: hidden" />
            </label>
        </div>
    </form>

    <div class="float-right" th:if="${postBlog.id}">
        <a th:href="@{'/deletePost/{id}'(id=${postBlog.id})}">
            <button class="green-btn red-btn" type="button">Delete Post</button>
        </a>
    </div>

</div>


<footer th:replace="/components/footer :: footer"></footer>

</body>
</html>