<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head >
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>

<div th:replace="/components/header :: header(currentUser=${currentUser})"></div>
<form action="#"
      th:action="@{'/searchUser'}"
      method="post">
    <h2>Manage User</h2>
    <div>
        <label>
            <input type="text" name="queryString"  placeholder="Query String"/>
        </label>
    </div>
    <div>
        <label>
            <select name="sort" id="sort">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
            </select>
        </label>
    </div>
    <div>
        <button class="green-btn" type="submit">Send</button>
    </div>
</form>

<div class="container">
    <div th:replace="/components/users :: users(users=${users})"></div>
</div>

<footer th:replace="/components/footer :: footer"></footer>

</body>
</html>