<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head >
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>


</head>
<body>

<div th:replace="/components/header :: header(currentUser=${currentUser})"></div>

<div class="container" th:class="align-center">

    <h2>Register new user</h2>

    <form action="/register"
          th:object="${user}"
          method="post"
          onsubmit="handleSubmit()"
    >
        <div>
            <label>
                <div class="alert-red error-username" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error
                </div>

                <input class="username" type="text" th:field="*{userName}" placeholder="Username" required/>
            </label>
        </div>
        <div>
            <label>
                <div class="alert-red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error
                </div>
                <input class="password" type="password" th:field="*{password}" placeholder="Password" required/>
            </label>
        </div>
        <div>
            <button class="green-btn" type="submit" onclick="handleSubmit()">Register</button>
        </div>
    </form>
</div>

<footer th:replace="/components/footer :: footer"></footer>

<script>
    function handleSubmit(e) {
        e.preventDefault()
        let textUserName = document.querySelector(".username").value
        if(textUserName.length < 6){
            document.querySelector(".error-username").innerText = "User name lon hon 3"
            return false
        }
        console.log(textUserName)
        return false
    }
</script>
</body>
</html>